<a href="https://colab.research.google.com/github/Sirethel/Nwachukwu-project-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

week 4 assignment; to build a python program utilizing data structures, and functions to solve a data related task

lIST

In [ ]:
#creating a list with some variables assign to it
list = [2,4,6,8, 'hello', 'false']
# print the value of list
print(list)

[2, 4, 6, 8, 'hello', 'false']

In [ ]:
#creating more variables
my_list = ['and,assert,claim,school']
#print the value of my_list
print(my_list)

['and,assert,claim,school']

TUPLES:

In [ ]:
#creating a tuples with some values assigned to it
ethels_tuple = (5,6,'gombe,nigeria')
#printing the value of tuple
print(ethels_tuple)

(5, 6, 'gombe,nigeria')

In [ ]:
#crating new tuples and using repeations in values to see what the result would be
my_tuple = (1,2,3,4,5,6, 'gana,nigeria,congo',1,2,3,4,5)
#printing the value of tuple
print(my_tuple)

(1, 2, 3, 4, 5, 6, 'gana,nigeria,congo', 1, 2, 3, 4, 5)

SETS:

In [ ]:
#writing a script that stores some values and assign it to a variable my_set
my_set = {9,8,7,6,5,2,3}
#displaying the values of the sets
print(my_set)

{2, 3, 5, 6, 7, 8, 9}

In [ ]:
#writing down a duplicated values to see the result
new_set = {1,2,3,4,5,6,1,2,3,4,5,6,7,8}
#displaying the value of the sets
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#more examples
an_set = {'ope,meshark,joel,sarah,favour'}
#displaying the value of the sets
print(an_set)

{'ope,meshark,joel,sarah,favour'}

DICTIONARIES:

In [ ]:
#write a dictionaries script that stores some values and assign it to a variable my_dict
my_dict = {'name': 'ope','age': 29, 'city': 'dutse'}
#print the value of the dictionaries
print(my_dict)

{'name': 'ope', 'age': 29, 'city': 'dutse'}

In [ ]:
#trying various variables
new_dict = {'animals': 'goat,lion', 'sex': 'male,female', 'habitat': 'forest'}
#print the value of the dictionaries
print(new_dict)

{'animals': 'goat,lion', 'sex': 'male,female', 'habitat': 'forest'}

In [ ]:
#trying other combinations of values
dict = {'name': 'ope,joel,meshark,ethel,favour', 'age': '29,31,27,22.28','city': 'dutse'}
#print the value of the dictionary
print(dict)

{'name': 'ope,joel,meshark,ethel,favour', 'age': '29,31,27,22.28', 'city': 'dutse'}

CONDITIONAL STATEMENT

In [ ]:
#conditional statement
x = 20
if x > 0:
  print("x is positive")
elif x == 0:
  print("x is zero")
else:
  print("x is lower")

x is positive

In [ ]:
#more examples
x = -10
if x > 0:
  print("x is positive")
elif x == 0:
  print("x is zero")
else:
  print("x is negative")

x is negative

FUNTIONS:

In [ ]:
#define a function called greet
def greet(name):
  print("hello,"  + name)
#call the funtion
greet("ethel")

hello,ethel

In [ ]:
#coding examples with function and conditional statement
def check_even_odd(num):
  #writing my code
  if num % 2 == 0:
    print(num, "is even")
  else:
      print(num, "is odd")
#test the function
check_even_odd(10)
check_even_odd(7)

10 is even
7 is odd